# Python
.venv/
venv/
__pycache__/
*.pyc

# Environment variables / secrets
.env
.env.*
!.env.example

# Node
node_modules/
frontend/dist/

# macOS
.DS_Store

# IDE
.vscode/
.idea/lambda-env.json
backend/lambda-env.json
backend/package/
backend/lambda_deployment.zip
backend/.env
